html {
  transition: background-color 0.5s, color 0.5s;
}

.light {
  --bg: #f9fafb;
  --text: #111827;
}

.dark {
  --bg: #111827;
  --text: #f9fafb;
}

body {
  background-color: var(--bg);
  color: var(--text);
  transition: background-color 0.5s, color 0.5s;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Ripple overlay for page transitions */
.ripple {
  @apply absolute rounded-full bg-primary-light dark:bg-primary-dark opacity-50;
  animation: ripple 0.6s linear;
}
